<section>
  <h1><a href="/about-me">About Me</a></h1>
  <p>Philippe Bourgau, eXtreme Programmer and Coach, pushing the limits of XP</p>
  <p>I build high performing and sustainable teams by adapting XP to their unique challenges and context.</p>
  <ul>
    <li><a href="/about-me">Read more ...</a></li>
    <li><a href="http://twitter.com/pbourgau">Twitter</a></li>
    <li><a href="http://www.linkedin.com/pub/philippe-bourgau/8/a92/607">Linkedin</a></li>
    <li><a href="https://dl.dropbox.com/u/206938/cv%20philippe%20bourgau.pdf">Resume</a></li>
  </ul>
</section>
