<section>
  <h1>About Me</h1>
  <p>Philippe Bourgau, Remote eXtreme Programming Mentor</p>
  <p>Currently, Technical Coach</p>
  <p>Early adopter of XP, I have been practicing since 2003 and mentoring teams since 2006. Thanks to XP, I have delivered high quality, fit to purpose and future proof software.</p>
  <p>I have worked on all aspects of software : technical, product, people, process, quality. I contributed to 2 persons as well as multi-teams projects. I designed greenfield systems but also refactored legacy code bases.</p>
  <p>Finally, I love doing side projects, from wannabe businesses to open source.
</p>
  <ul>
    <li><a href="http://twitter.com/pbourgau">Twitter</li></a>
    <li><a href="http://www.linkedin.com/pub/philippe-bourgau/8/a92/607">Linkedin</li></a>
    <li><a href="https://dl.dropbox.com/u/206938/cv%20philippe%20bourgau.pdf">Resume</a></li>
  </ul>
</section>
