<section>
  <h1>Side projects</h1>
  <ul>
    <li>
      <img class="project logo" src="https://www.mes-courses.fr/images/logo.png" alt="mes-courses.fr logo"> </img>
      <a href="http://www.mes-courses.fr">mes-courses.fr</a>
      <p>A service to order one's weekly food shopping in just a few minutes (in France only).</p>
    </li>
    <li>
      <img class="project logo" src="http://www.agileavatars.com/images/smiley-small.png" alt="AgileAvatars.fr logo"> </img>
      <a href="http://www.agileavatars.com">AgileAvatars.com</a>
      <p>Currently testing the market for a service to order customized avatar magnets, for agile and kanban team boards.</p>
    </li>
  </ul>
</section>
