[submodule ".themes/budget-bumbago"]
	path = .themes/budget-bumbago
	url = git://github.com/octopress-themes/budget-bumbago.git
[submodule ".themes/mugwump-mussels"]
	path = .themes/mugwump-mussels
	url = git://github.com/octopress-themes/mugwump-mussels.git
[submodule "submodules/gravatar-octopress"]
	path = submodules/gravatar-octopress
	url = https://github.com/joet3ch/gravatar-octopress.git
