[submodule "markdown-word-count"]
	path = markdown-word-count
	url = https://github.com/gandreadis/markdown-word-count.git
[submodule "_scripts"]
	path = _scripts
	url = git@github.com:philou/jekyll-minimal-mistakes-goodies.git
