.banner {
    /* taken from the theme scss */
    background: white;
    border: 3px solid white;
    -webkit-border-radius: 0.3em;
    -moz-border-radius: 0.3em;
    -ms-border-radius: 0.3em;
    -o-border-radius: 0.3em;
    border-radius: 0.3em;
    -webkit-box-shadow: rgba(0,0,0,0.15) 0 1px 4px;
    -moz-box-shadow: rgba(0,0,0,0.15) 0 1px 4px;
    box-shadow: rgba(0,0,0,0.15) 0 1px 4px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: #fff 0.5em solid;

    margin-left: 55px;
    margin-right: 55px;

    /* Custom part */
    margin-bottom: 2.5em;
    font-family: 'Shadows Into Light', cursive;

    /* for the clickable span */
    position: relative
}

.banner .clickzone {
  position:absolute;
  width:100%;
  height:100%;
  top:0;
  left: 0;
  z-index: 1;
}

.banner img {
    float: left;
    margin-top: -10px;
    margin-right: 5px;
    width: 100px;
}

.banner a {
    font-size: 1.5em;
    color: purple;
}

.banner p {
    font-size: 1.2em;
    margin-bottom: 0;
}

