---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

/* Orange on EventStormingJournal icon. Used the full css selector to override default fontawesome */
i.fas.fa-fw.fa-sticky-note {
    color: orange;
}

/* Mailchimp form style, similar to footer and pagination links */
#mc_embed_signup {
    background:#fff;
    clear:left;
    font:14px Helvetica,Arial,sans-serif;
    width:100%;
}
#mc_embed_signup form {
    background: #30e3ca;
    border: 1px solid #9b9f9e;
    color: white;
    border-radius: 4px;
}
#mc_embed_signup .button:hover {
    background-color: #40514e;
}

#mc_embed_signup img {
    border: 1px solid #9b9f9e;
}

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials
